---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
    <svg
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      width="200px"
      height="100px"
      viewBox="0 0 3147.000000 1990.000000"
      preserveAspectRatio="xMidYMid meet"
    >
      <g
        transform="translate(0.000000,1990.000000) scale(0.100000,-0.100000)"
        fill="#000000"
        stroke="none"
      >
        <path
          d="M7127 16202 c-779 -779 -1417 -1424 -1417 -1433 0 -8 1181 -1199
2623 -2645 1443 -1446 2630 -2640 2638 -2654 11 -20 15 -111 19 -465 l5 -440
665 0 665 0 2 1080 c3 1001 4 1081 20 1093 13 9 182 12 765 12 l747 0 3 753
c2 413 0 769 -3 789 -6 33 -95 127 -815 854 -902 911 -4479 4474 -4491 4474
-5 0 -646 -638 -1426 -1418z"
        ></path>
        <path
          d="M2880 11865 c-1438 -1438 -2620 -2627 -2627 -2642 -9 -21 -12 -204
-13 -724 0 -636 1 -698 17 -710 13 -12 143 -15 735 -17 395 -2 719 -4 720 -5
2 -1 5 -861 8 -1912 l5 -1910 620 0 620 0 5 1285 c4 1054 7 1289 19 1310 7 14
1181 1193 2608 2621 2068 2068 2594 2600 2589 2615 -3 11 -610 623 -1348 1362
l-1343 1342 -2615 -2615z"
        ></path>
        <path
          d="M30178 11622 c-65 -37 -118 -72 -118 -78 0 -5 6 -18 13 -26 11 -15
24 -11 132 39 66 30 121 56 123 58 2 2 -5 19 -15 39 l-18 36 -117 -68z"
        ></path>
        <path
          d="M14670 11205 l0 -415 45 0 45 0 1 358 c1 309 2 353 14 327 8 -16 69
-177 137 -357 l123 -328 36 0 36 0 134 358 134 357 3 -357 2 -358 50 0 50 0 0
415 0 415 -77 0 -78 0 -120 -325 c-66 -179 -122 -325 -125 -325 -3 0 -43 100
-89 223 -46 122 -102 268 -123 325 l-39 102 -80 0 -79 0 0 -415z"
        ></path>
        <path d="M17760 11565 l0 -55 50 0 50 0 0 55 0 55 -50 0 -50 0 0 -55z"
        ></path>
        <path d="M18710 11205 l0 -415 45 0 45 0 0 415 0 415 -45 0 -45 0 0 -415z"
        ></path>
        <path d="M23260 11205 l0 -415 45 0 45 0 0 415 0 415 -45 0 -45 0 0 -415z"
        ></path>
        <path d="M29640 11565 l0 -55 50 0 50 0 0 55 0 55 -50 0 -50 0 0 -55z"
        ></path>
        <path
          d="M16373 11563 c-21 -4 -23 -10 -23 -79 l0 -74 -55 0 -55 0 0 -35 0
-35 54 0 55 0 3 -234 c3 -257 4 -260 70 -309 30 -22 108 -33 162 -23 34 7 36
9 36 46 l0 38 -58 -5 c-52 -5 -61 -3 -88 20 l-29 25 -3 221 -3 221 70 0 71 0
0 35 0 35 -70 0 -70 0 0 80 c0 87 1 86 -67 73z"
        ></path>
        <path
          d="M27043 11563 c-21 -4 -23 -10 -23 -79 l0 -74 -55 0 -55 0 0 -35 0
-35 54 0 55 0 3 -234 c3 -257 4 -260 70 -309 30 -22 108 -33 162 -23 34 7 36
9 36 46 l0 38 -58 -5 c-52 -5 -61 -3 -88 20 l-29 25 -3 221 -3 221 70 0 71 0
0 35 0 35 -70 0 -70 0 0 80 c0 87 1 86 -67 73z"
        ></path>
        <path
          d="M15782 11411 c-62 -21 -117 -70 -133 -118 -6 -19 -9 -36 -7 -37 1 -2
21 -6 44 -9 39 -6 41 -5 57 29 41 85 214 101 281 25 12 -13 21 -41 24 -76 l4
-55 -90 0 c-187 0 -285 -43 -327 -142 -42 -102 19 -219 128 -249 96 -26 224
13 264 81 15 26 19 28 25 13 3 -10 7 -33 7 -50 1 -33 2 -33 49 -33 l49 0 -3
53 c-2 28 -6 135 -8 237 -5 199 -13 243 -52 290 -49 58 -204 78 -312 41z m268
-366 c0 -78 -48 -148 -122 -180 -112 -46 -230 24 -198 119 24 73 93 104 233
105 l87 1 0 -45z"
        ></path>
        <path
          d="M16847 11416 c-135 -50 -204 -171 -195 -346 3 -69 10 -98 32 -143 75
-155 262 -205 406 -108 43 29 103 106 97 125 -5 16 -81 29 -86 15 -2 -6 -17
-27 -35 -46 -55 -63 -126 -79 -201 -44 -69 32 -96 77 -108 179 l-5 42 225 0
226 0 -6 64 c-16 168 -103 264 -245 273 -42 2 -81 -2 -105 -11z m151 -80 c52
-27 85 -74 96 -138 l7 -38 -172 0 -171 0 7 38 c20 111 144 184 233 138z"
        ></path>
        <path
          d="M17560 11423 c-37 -14 -73 -49 -100 -96 l-30 -52 0 68 0 67 -40 0
-40 0 0 -310 0 -310 45 0 45 0 0 178 c0 191 9 244 50 302 25 36 90 69 133 70
25 0 27 3 27 45 l0 45 -37 -1 c-21 0 -45 -3 -53 -6z"
        ></path>
        <path
          d="M18152 11411 c-62 -21 -117 -70 -133 -118 -6 -19 -9 -36 -7 -37 1 -2
21 -6 44 -9 39 -6 41 -5 57 29 41 85 214 101 281 25 12 -13 21 -41 24 -76 l4
-55 -90 0 c-187 0 -285 -43 -327 -142 -42 -102 19 -219 128 -249 96 -26 224
13 264 81 15 26 19 28 25 13 3 -10 7 -33 7 -50 1 -33 2 -33 49 -33 l49 0 -3
53 c-2 28 -6 135 -8 237 -5 199 -13 243 -52 290 -49 58 -204 78 -312 41z m268
-366 c0 -78 -48 -148 -122 -180 -112 -46 -230 24 -198 119 24 73 93 104 233
105 l87 1 0 -45z"
        ></path>
        <path
          d="M19147 11416 c-135 -50 -204 -171 -195 -346 3 -69 10 -98 32 -143 75
-155 262 -205 406 -108 43 29 103 106 97 125 -5 16 -81 29 -86 15 -2 -6 -17
-27 -35 -46 -55 -63 -126 -79 -201 -44 -69 32 -96 77 -108 179 l-5 42 225 0
226 0 -6 64 c-16 168 -103 264 -245 273 -42 2 -81 -2 -105 -11z m151 -80 c52
-27 85 -74 96 -138 l7 -38 -172 0 -171 0 7 38 c20 111 144 184 233 138z"
        ></path>
        <path
          d="M19721 11415 c-79 -25 -131 -92 -131 -170 0 -56 20 -96 62 -128 42
-31 52 -34 173 -57 106 -21 144 -41 159 -84 31 -86 -91 -150 -219 -115 -43 12
-105 67 -105 93 0 14 -7 16 -37 10 -61 -11 -64 -14 -42 -59 45 -95 144 -142
281 -132 138 9 228 84 228 189 0 110 -67 164 -237 194 -135 24 -163 41 -163
100 0 67 68 104 165 90 48 -8 100 -44 110 -77 6 -17 12 -19 43 -13 20 3 41 10
45 14 13 12 -29 86 -63 110 -67 48 -181 63 -269 35z"
        ></path>
        <path
          d="M20730 11408 c-25 -13 -59 -42 -77 -66 l-33 -44 0 56 0 56 -40 0 -40
0 0 -415 0 -415 45 0 45 0 0 146 0 146 41 -41 c112 -111 281 -68 355 91 27 58
29 72 29 178 0 103 -3 121 -26 170 -14 30 -39 70 -54 89 -60 70 -163 90 -245
49z m161 -106 c49 -52 62 -103 57 -227 -3 -81 -8 -107 -26 -140 -46 -79 -116
-104 -189 -66 -83 42 -107 100 -101 247 3 91 6 105 33 149 60 96 156 112 226
37z"
        ></path>
        <path
          d="M21312 11411 c-62 -21 -117 -70 -133 -118 -6 -19 -9 -36 -7 -37 1 -2
21 -6 44 -9 39 -6 41 -5 57 29 41 85 214 101 281 25 12 -13 21 -41 24 -76 l4
-55 -90 0 c-187 0 -285 -43 -327 -142 -42 -102 19 -219 128 -249 96 -26 224
13 264 81 15 26 19 28 25 13 3 -10 7 -33 7 -50 1 -33 2 -33 49 -33 l49 0 -3
53 c-2 28 -6 135 -8 237 -5 199 -13 243 -52 290 -49 58 -204 78 -312 41z m268
-366 c0 -78 -48 -148 -122 -180 -112 -46 -230 24 -198 119 24 73 93 104 233
105 l87 1 0 -45z"
        ></path>
        <path
          d="M22080 11423 c-37 -14 -73 -49 -100 -96 l-30 -52 0 68 0 67 -40 0
-40 0 0 -310 0 -310 45 0 45 0 0 178 c0 191 9 244 50 302 25 36 90 69 133 70
25 0 27 3 27 45 l0 45 -37 -1 c-21 0 -45 -3 -53 -6z"
        ></path>
        <path
          d="M22382 11411 c-62 -21 -117 -70 -133 -118 -6 -19 -9 -36 -7 -37 1 -2
21 -6 44 -9 39 -6 41 -5 57 29 41 85 214 101 281 25 12 -13 21 -41 24 -76 l4
-55 -90 0 c-187 0 -285 -43 -327 -142 -42 -102 19 -219 128 -249 96 -26 224
13 264 81 15 26 19 28 25 13 3 -10 7 -33 7 -50 1 -33 2 -33 49 -33 l49 0 -3
53 c-2 28 -6 135 -8 237 -5 199 -13 243 -52 290 -49 58 -204 78 -312 41z m268
-366 c0 -78 -48 -148 -122 -180 -112 -46 -230 24 -198 119 24 73 93 104 233
105 l87 1 0 -45z"
        ></path>
        <path
          d="M23652 11411 c-62 -21 -117 -70 -133 -118 -6 -19 -9 -36 -7 -37 1 -2
21 -6 44 -9 39 -6 41 -5 57 29 41 85 214 101 281 25 12 -13 21 -41 24 -76 l4
-55 -90 0 c-187 0 -285 -43 -327 -142 -42 -102 19 -219 128 -249 96 -26 224
13 264 81 15 26 19 28 25 13 3 -10 7 -33 7 -50 1 -33 2 -33 49 -33 l49 0 -3
53 c-2 28 -6 135 -8 237 -5 199 -13 243 -52 290 -49 58 -204 78 -312 41z m268
-366 c0 -78 -48 -148 -122 -180 -112 -46 -230 24 -198 119 24 73 93 104 233
105 l87 1 0 -45z"
        ></path>
        <path
          d="M24647 11416 c-63 -23 -104 -62 -139 -133 -32 -65 -33 -73 -33 -183
0 -106 2 -120 29 -178 46 -100 122 -152 222 -152 113 0 200 72 235 192 9 32 7
33 -43 42 -35 6 -37 5 -49 -31 -48 -149 -194 -166 -269 -33 -22 40 -25 56 -25
155 0 97 3 116 25 160 71 143 237 120 274 -38 6 -26 9 -27 44 -21 20 3 40 9
44 13 4 3 -2 31 -12 61 -42 125 -178 190 -303 146z"
        ></path>
        <path
          d="M25234 11414 c-61 -22 -119 -77 -151 -142 -26 -52 -28 -66 -28 -172
0 -103 3 -121 26 -170 29 -60 75 -112 123 -138 45 -24 178 -23 230 2 98 49
157 151 164 282 8 152 -48 273 -153 326 -52 27 -155 33 -211 12z m149 -78 c75
-32 109 -103 110 -226 0 -104 -14 -159 -54 -205 -81 -92 -219 -59 -266 63 -22
56 -24 197 -4 255 35 101 127 150 214 113z"
        ></path>
        <path
          d="M25950 11414 c-19 -8 -54 -36 -77 -61 l-43 -46 0 52 0 51 -40 0 -40
0 0 -310 0 -310 45 0 45 0 0 188 c0 225 10 272 69 325 80 72 174 59 220 -30 7
-14 11 -101 11 -252 l0 -231 45 0 45 0 0 233 c0 129 -5 249 -10 269 -30 108
-164 168 -270 122z"
        ></path>
        <path
          d="M26501 11415 c-79 -25 -131 -92 -131 -170 0 -56 20 -96 62 -128 42
-31 52 -34 173 -57 106 -21 144 -41 159 -84 31 -86 -91 -150 -219 -115 -43 12
-105 67 -105 93 0 14 -7 16 -37 10 -61 -11 -64 -14 -42 -59 45 -95 144 -142
281 -132 138 9 228 84 228 189 0 110 -67 164 -237 194 -135 24 -163 41 -163
100 0 67 68 104 165 90 48 -8 100 -44 110 -77 6 -17 12 -19 43 -13 20 3 41 10
45 14 13 12 -29 86 -63 110 -67 48 -181 63 -269 35z"
        ></path>
        <path
          d="M27600 11423 c-37 -14 -73 -49 -100 -96 l-30 -52 0 68 0 67 -40 0
-40 0 0 -310 0 -310 45 0 45 0 0 178 c0 191 9 244 50 302 25 36 90 69 133 70
25 0 27 3 27 45 l0 45 -37 -1 c-21 0 -45 -3 -53 -6z"
        ></path>
        <path
          d="M28607 11416 c-63 -23 -104 -62 -139 -133 -32 -65 -33 -73 -33 -183
0 -106 2 -120 29 -178 46 -100 122 -152 222 -152 113 0 200 72 235 192 9 32 7
33 -43 42 -35 6 -37 5 -49 -31 -48 -149 -194 -166 -269 -33 -22 40 -25 56 -25
155 0 97 3 116 25 160 71 143 237 120 274 -38 6 -26 9 -27 44 -21 20 3 40 9
44 13 4 3 -2 31 -12 61 -42 125 -178 190 -303 146z"
        ></path>
        <path
          d="M29187 11416 c-63 -23 -104 -62 -139 -133 -32 -65 -33 -73 -33 -183
0 -106 2 -120 29 -178 46 -100 122 -152 222 -152 113 0 200 72 235 192 9 32 7
33 -43 42 -35 6 -37 5 -49 -31 -48 -149 -194 -166 -269 -33 -22 40 -25 56 -25
155 0 97 3 116 25 160 71 143 237 120 274 -38 6 -26 9 -27 44 -21 20 3 40 9
44 13 4 3 -2 31 -12 61 -42 125 -178 190 -303 146z"
        ></path>
        <path
          d="M30064 11414 c-60 -22 -119 -77 -151 -142 -26 -53 -28 -66 -27 -172
0 -133 15 -179 84 -254 103 -112 296 -97 392 29 54 71 71 137 66 248 -6 117
-32 181 -99 241 -71 64 -172 83 -265 50z m175 -91 c85 -64 116 -234 65 -361
-43 -110 -165 -144 -249 -71 -50 44 -70 106 -69 214 1 126 35 197 109 231 39
18 110 12 144 -13z"
        ></path>
        <path
          d="M30780 11414 c-19 -8 -54 -36 -77 -61 l-43 -46 0 52 0 51 -40 0 -40
0 0 -310 0 -310 45 0 45 0 0 188 c0 225 10 272 69 325 80 72 174 59 220 -30 7
-14 11 -101 11 -252 l0 -231 45 0 45 0 0 233 c0 129 -5 249 -10 269 -30 108
-164 168 -270 122z"
        ></path>
        <path
          d="M6237 9158 c-1244 -1239 -2398 -2387 -2564 -2552 -167 -165 -310
-315 -318 -332 -13 -28 -15 -177 -15 -1183 l0 -1151 23 -9 c12 -5 479 -11
1037 -13 l1015 -5 45 51 c63 73 841 850 3188 3186 1411 1405 2052 2050 2050
2062 -4 23 -2165 2198 -2184 2198 -8 0 -1033 -1013 -2277 -2252z"
        ></path>
        <path d="M17770 11100 l0 -310 45 0 45 0 0 310 0 310 -45 0 -45 0 0 -310z"
        ></path>
        <path
          d="M27800 11170 c0 -266 4 -287 63 -348 78 -81 226 -66 297 31 l30 41 0
-52 0 -52 45 0 45 0 0 310 0 310 -44 0 -44 0 -4 -202 c-3 -188 -5 -207 -27
-251 -56 -115 -188 -142 -248 -50 -16 24 -18 58 -21 265 l-4 238 -44 0 -44 0
0 -240z"
        ></path>
        <path d="M29650 11100 l0 -310 45 0 45 0 0 310 0 310 -45 0 -45 0 0 -310z"
        ></path>
        <path
          d="M12827 10453 c-9 -8 -9 -496 -1 -517 5 -14 55 -16 459 -16 352 0 456
-3 462 -12 4 -7 10 -719 13 -1583 l5 -1570 245 -3 c135 -1 255 0 268 3 l22 5
0 1569 c0 1302 2 1570 13 1580 10 8 272 12 923 13 l909 3 0 265 0 265 -1656 3
c-910 1 -1659 -1 -1662 -5z"
        ></path>
        <path
          d="M19135 10288 c-3 -7 -6 -253 -8 -547 l-2 -534 -63 55 c-326 284 -810
314 -1183 73 -202 -131 -391 -401 -454 -648 -129 -511 22 -1019 391 -1316 184
-149 390 -221 628 -221 246 0 434 68 622 226 28 24 54 40 58 37 3 -3 6 -50 6
-104 0 -95 1 -99 23 -104 13 -4 135 -5 271 -3 206 2 248 5 256 18 6 9 9 593 7
1545 l-2 1530 -273 3 c-213 2 -274 0 -277 -10z m-430 -1333 c161 -41 309 -161
378 -305 106 -224 99 -481 -20 -696 -65 -119 -214 -232 -353 -269 -73 -20
-236 -19 -314 1 -190 49 -341 193 -414 396 -24 68 -26 85 -26 243 0 162 1 173
28 245 74 196 221 335 406 384 74 20 240 20 315 1z"
        ></path>
        <path
          d="M15870 9470 c-472 -101 -830 -464 -932 -945 -16 -79 -16 -343 1 -420
84 -381 315 -683 646 -846 237 -116 508 -147 780 -90 391 83 703 345 852 717
122 303 107 656 -40 949 -166 333 -495 574 -871 640 -122 21 -327 19 -436 -5z
m420 -536 c98 -29 172 -74 247 -149 130 -130 191 -300 179 -501 -14 -235 -100
-400 -264 -507 -131 -85 -235 -113 -390 -104 -220 12 -397 127 -491 317 -58
119 -74 204 -68 365 4 106 9 142 29 196 34 92 72 154 137 223 90 95 197 153
326 176 70 13 229 4 295 -16z"
        ></path>
        <path
          d="M20799 9476 c-319 -57 -615 -248 -790 -510 -74 -110 -98 -157 -137
-266 -49 -142 -65 -258 -59 -433 6 -184 33 -300 107 -454 171 -360 491 -602
878 -663 95 -16 303 -13 407 5 493 86 866 454 960 946 19 104 20 310 0 421
-70 404 -366 748 -765 893 -41 14 -113 35 -160 46 -112 26 -338 33 -441 15z
m350 -541 c108 -26 188 -71 271 -155 129 -129 180 -261 180 -465 0 -277 -121
-484 -348 -595 -275 -134 -649 -21 -785 238 -61 115 -81 206 -81 362 0 121 3
143 28 215 73 211 221 350 426 400 75 18 231 18 309 0z"
        ></path>
        <path
          d="M24178 9480 c-174 -28 -328 -100 -470 -222 -31 -26 -59 -48 -62 -48
-3 0 -6 44 -6 98 0 63 -4 102 -12 110 -9 9 -78 12 -249 12 -131 0 -244 -3
-253 -6 -15 -6 -16 -149 -16 -1525 l0 -1519 259 0 c227 0 260 2 265 16 3 9 6
238 6 510 0 272 3 494 6 494 3 0 42 -29 87 -65 92 -74 250 -156 346 -180 208
-53 457 -11 666 111 195 115 387 363 468 607 48 141 62 237 62 422 0 324 -56
534 -202 753 -138 207 -340 356 -561 413 -89 23 -252 32 -334 19z m152 -537
c85 -23 149 -60 218 -126 106 -103 177 -246 202 -412 35 -229 -80 -523 -255
-652 -217 -161 -562 -116 -730 95 -57 72 -110 181 -131 269 -25 102 -22 305 5
406 86 322 386 504 691 420z"
        ></path>
        <path
          d="M26288 9470 c-280 -44 -498 -185 -651 -421 -69 -107 -97 -162 -136
-272 -54 -153 -73 -272 -74 -447 -1 -409 109 -698 356 -937 109 -105 161 -142
270 -193 298 -138 635 -90 889 125 43 36 80 65 83 65 3 0 5 -39 5 -86 0 -134
-20 -124 263 -124 176 0 246 3 255 12 17 17 17 2199 0 2216 -15 15 -475 17
-498 2 -11 -7 -16 -35 -18 -115 l-4 -105 -56 51 c-116 104 -251 178 -387 214
-74 19 -223 27 -297 15z m341 -535 c228 -54 386 -248 422 -520 42 -317 -81
-599 -311 -714 -323 -161 -681 27 -771 407 -30 124 -23 321 14 437 66 200 205
340 390 390 69 18 177 18 256 0z"
        ></path>
        <path
          d="M29928 9465 c-174 -33 -330 -111 -450 -223 -267 -251 -400 -629 -368
-1048 27 -349 138 -597 367 -814 185 -177 363 -252 598 -252 233 0 380 54 559
206 36 31 70 56 75 56 6 0 11 -43 13 -102 l3 -103 249 -3 c175 -2 253 1 262 9
21 17 21 2201 0 2218 -9 8 -87 11 -262 9 l-249 -3 -3 -107 c-2 -68 -7 -108
-13 -108 -6 0 -34 21 -63 46 -106 96 -246 175 -371 208 -86 24 -253 29 -347
11z m386 -531 c194 -50 347 -211 401 -422 22 -87 29 -241 16 -335 -37 -263
-202 -465 -421 -517 -81 -19 -213 -16 -287 8 -172 54 -322 226 -373 428 -25
96 -27 284 -5 389 33 157 156 334 277 400 114 62 266 81 392 49z"
        ></path>
        <path
          d="M28675 9456 c-103 -33 -193 -103 -270 -210 -22 -31 -43 -56 -47 -56
-5 0 -8 49 -8 109 0 90 -3 110 -16 115 -9 3 -103 6 -209 6 -163 0 -196 -3
-209 -16 -14 -14 -16 -128 -16 -1103 0 -854 3 -1091 13 -1104 11 -16 36 -17
257 -15 l245 3 6 650 c7 686 13 789 57 916 37 104 86 175 143 205 36 18 105
18 159 -1 23 -8 50 -15 59 -15 22 0 176 457 160 476 -6 7 -35 22 -65 34 -64
23 -194 27 -259 6z"
        ></path>
        <path
          d="M9725 7748 c-539 -546 -1179 -1195 -1421 -1443 -1165 -1191 -2297
-2372 -2288 -2386 3 -5 1025 -9 2333 -9 1846 0 2331 3 2344 13 16 11 17 165
15 2415 l-3 2403 -980 -993z"
        ></path>
        <path
          d="M11307 6954 c-4 -4 -7 -183 -7 -399 0 -291 -3 -394 -12 -403 -8 -8
-50 -12 -125 -12 -101 0 -113 -2 -123 -19 -13 -25 -13 -430 0 -451 7 -12 38
-16 132 -20 l123 -5 3 -864 c2 -677 5 -867 15 -873 6 -4 118 -8 248 -8 186 0
239 3 248 13 8 10 12 258 13 873 l3 859 140 3 c117 2 142 5 153 19 13 19 17
355 4 428 l-7 40 -145 5 -145 5 -5 405 -5 405 -251 3 c-138 1 -253 -1 -257 -4z"
        ></path>
        <path
          d="M18389 6148 c-106 -9 -226 -46 -344 -106 -76 -39 -107 -63 -195 -151
-220 -222 -333 -492 -347 -836 -17 -395 89 -704 330 -961 124 -133 285 -230
457 -275 109 -29 275 -32 370 -6 109 29 275 117 367 196 l82 71 3 -108 3 -107
255 0 255 0 0 1110 0 1110 -243 5 c-134 3 -250 1 -258 -3 -11 -6 -14 -32 -14
-112 0 -58 -4 -105 -8 -105 -4 0 -26 18 -47 40 -22 23 -73 64 -113 91 -172
120 -342 164 -553 147z m354 -548 c128 -40 258 -152 316 -273 53 -111 65 -176
66 -347 0 -133 -3 -166 -23 -235 -57 -196 -174 -328 -347 -391 -194 -70 -397
-23 -545 126 -126 126 -182 283 -184 515 -1 137 16 221 66 320 129 254 386
367 651 285z"
        ></path>
        <path
          d="M22308 6144 c-183 -33 -369 -135 -496 -272 -149 -162 -269 -425 -308
-677 -39 -257 14 -602 128 -830 106 -211 324 -417 530 -503 216 -90 464 -80
677 28 77 38 231 153 231 171 0 5 10 9 21 9 21 0 22 -3 17 -90 -4 -58 -2 -95
6 -105 9 -13 45 -15 256 -13 l245 3 0 1115 0 1115 -245 3 c-221 2 -246 1 -257
-15 -9 -12 -11 -44 -6 -115 4 -60 2 -98 -4 -98 -5 0 -25 16 -44 36 -186 194
-480 287 -751 238z m401 -529 c188 -50 341 -213 398 -425 25 -91 24 -317 -1
-415 -71 -274 -277 -447 -531 -447 -109 1 -196 25 -281 80 -111 72 -209 208
-249 344 -57 198 -24 473 73 624 73 113 197 207 313 238 70 19 209 20 278 1z"
        ></path>
        <path
          d="M16198 6134 c-111 -17 -252 -64 -348 -115 -380 -204 -628 -643 -606
-1074 17 -339 134 -624 340 -831 180 -180 402 -281 686 -315 124 -14 227 -8
370 21 130 27 203 51 304 101 132 66 260 172 352 291 l44 56 -195 146 c-107
80 -202 146 -212 146 -10 0 -30 -15 -44 -33 -35 -43 -121 -109 -186 -142 -86
-42 -142 -56 -259 -62 -324 -17 -544 128 -641 422 -23 70 -26 96 -26 205 1
296 114 492 351 610 125 62 298 81 432 46 99 -25 217 -87 293 -155 37 -34 76
-61 85 -61 27 1 407 234 410 253 7 38 -165 228 -283 312 -224 160 -554 228
-867 179z"
        ></path>
        <path
          d="M20411 6130 c-205 -54 -362 -179 -445 -353 -45 -95 -60 -163 -59
-267 0 -150 49 -279 154 -409 92 -113 206 -192 523 -362 135 -72 205 -130 236
-195 38 -78 11 -149 -76 -200 -128 -75 -329 -18 -504 144 -37 34 -74 62 -82
62 -19 0 -328 -350 -328 -371 0 -16 157 -173 214 -214 119 -83 199 -115 390
-155 148 -30 161 -29 406 26 297 68 510 345 510 664 0 195 -57 338 -190 470
-103 104 -166 146 -425 285 -239 129 -281 157 -302 200 -47 98 63 198 202 181
70 -8 178 -64 260 -135 39 -34 75 -61 82 -61 17 0 318 318 321 340 5 27 -84
127 -172 195 -88 67 -217 128 -327 155 -113 27 -285 27 -388 0z"
        ></path>
        <path
          d="M12497 6133 c-11 -10 -8 -1142 3 -1308 18 -261 52 -403 134 -559 81
-155 195 -264 349 -336 143 -67 187 -75 407 -75 228 0 280 10 430 83 82 40
108 59 190 141 139 141 207 270 250 479 33 164 41 369 38 992 l-3 585 -255 0
-255 0 -6 -680 c-6 -738 -9 -779 -64 -891 -86 -176 -336 -246 -502 -141 -51
33 -111 100 -134 152 -51 114 -52 135 -56 854 -3 412 -8 682 -14 693 -9 17
-28 18 -258 18 -136 0 -251 -3 -254 -7z"
        ></path>
      </g>
    </svg>

    <!-- Second -->
    <svg
      class="mx-auto h-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5"
      viewBox="0 0 150 40"
      fill="none"
    >
      <path
        stroke="#6B7280"
        stroke-miterlimit="3.864"
        stroke-width=".851"
        d="M.492 38.141h149.015M.492.911h149.015"></path>
      <path fill="#6B7280" d="M.545 33.488h27.878V5.565H.545v27.923Z"></path>
      <path
        fill="#d4d4d4"
        d="m2.176 22.319 12.286-14.24 12.286 14.24H18.65l-4.188-5.026-4.188 5.026H2.176ZM2.176 23.436h8.098v1.395h8.377v-1.395h8.097v5.584H2.176v-5.584Z"
      ></path>
      <path
        fill="#6B7280"
        fill-rule="evenodd"
        d="M56.51 25.334c0-2.875 1.218-5.637 4.462-5.637 3.244 0 4.463 2.762 4.463 5.637 0 2.737-1.219 5.499-4.463 5.499-3.244 0-4.462-2.762-4.462-5.5Zm-3.612 0c0 4.738 2.99 8.534 8.074 8.534s8.074-3.796 8.074-8.534c0-4.878-2.99-8.673-8.074-8.673s-8.074 3.795-8.074 8.673ZM85.25 22.573c-.438-3.796-3.473-5.913-7.084-5.913-5.085 0-8.074 3.797-8.074 8.673 0 4.74 2.989 8.535 8.074 8.535 4.024 0 6.853-2.624 7.222-6.717H81.89c-.275 2.163-1.518 3.68-3.724 3.68-3.245 0-4.464-2.761-4.464-5.498 0-2.875 1.219-5.637 4.464-5.637 1.794 0 3.357 1.244 3.588 2.877h3.496ZM86.688 33.477h3.611V26.39h6.648v7.086h3.612V17.05h-3.612v6.304H90.3V17.05h-3.612v16.426ZM106.898 33.477h3.611V20.089h4.923V17.05h-13.457v3.038h4.923v13.388ZM116.847 33.477h3.611V17.05h-3.611v16.426ZM123.397 33.477h12.468v-3.035h-8.856v-4.027h7.959v-2.808h-7.959V20.09h8.672V17.05h-12.284v16.426Z"
        clip-rule="evenodd"></path>
      <path
        fill="#6B7280"
        d="M137.873 33.477h3.611V26.69h6.878v-2.807h-6.878V20.09h7.937V17.05h-11.548v16.426ZM37.73 33.49h3.608v-7.085h6.648v7.086h3.612V17.065h-3.612v6.303h-6.648v-6.303h-3.607v16.426Z"
      ></path>
    </svg>
    <!-- Third -->
    <svg
      class="mx-auto h-auto w-32 py-3 sm:mx-0 lg:w-40 lg:py-5"
      viewBox="0 0 150 39"
      fill="none"
    >
      <g clip-path="url(#n)">
        <path
          fill="#6B7280"
          d="M66.454 14.419v12.11s4.413 1.098 11.32 1.098c6.855 0 11.316-1.093 11.316-1.093V22.42s-4.793.943-11.364.943c-3.19 0-5.304-.375-6.44-.489 0-.992.003-3.792 0-4.793 1.272-.127 3.412-.493 6.488-.493 6.397.026 11.316.974 11.316.974v-4.146s-4.39-1.093-11.316-1.093c-6.977 0-11.32 1.097-11.32 1.097ZM94.464 27.356h4.955V13.55h-4.955v13.806ZM28.155 27.356h4.954V13.55h-4.954v13.806ZM56.17 27.351s-3.583-2.896-8.852-5.627c-1.468-.76-2.71-1.267-3.863-1.734v7.361h-4.797V13.576s4.06.786 8.669 3.176c5.269 2.73 8.847 5.378 8.847 5.378v-8.58h4.81V27.35H56.17ZM24.843 16.678l-12.29 11.045L.245 16.669l3.68-3.351s7.518 7.235 8.628 8.27c1.11-1.035 8.624-8.27 8.624-8.27l3.666 3.36ZM110.599 13.558h6.899c2.516-.004 4.098-1.284 4.679-1.896.586-.612 1.94-2.14 1.94-3.92V2.007c0-1.061.861-1.922 1.922-1.922h7.48c1.062 0 1.923.86 1.923 1.927v7.48a1.923 1.923 0 0 1-1.923 1.922h-5.736c-1.779 0-3.308 1.354-3.919 1.94-.612.58-1.892 2.162-1.897 4.68v6.898h-11.368V13.558Z"
        ></path>
        <mask
          id="b"
          width="27"
          height="28"
          x="123"
          y="12"
          maskUnits="userSpaceOnUse"
          style="mask-type:luminance"
        >
          <path fill="#fff" d="M123.16 12.746h26.765v26.843H123.16V12.746Z"
          ></path>
        </mask>
        <g mask="url(#b)">
          <path
            fill="#6B7280"
            d="M149.755 19.605c0-1.826-.739-3.46-1.914-4.649-1.175-1.192-2.827-1.913-4.653-1.913-3.736 0-6.715 3.045-6.715 6.676 0 .664.288 1.922.288 2.46a5.18 5.18 0 0 1-5.177 5.177h-5.545a1.92 1.92 0 0 0-1.922 1.922v7.48c0 1.062.861 1.922 1.922 1.922h7.48c1.062 0 1.923-.86 1.923-1.922v-5.544a5.177 5.177 0 0 1 5.177-5.178c.537 0 1.796.289 2.455.289 3.635 0 6.681-2.98 6.681-6.72Z"
          ></path>
        </g>
      </g>
      <defs>
        <clipPath id="n">
          <path fill="#fff" d="M0 0h150v38.764H0z"></path>
        </clipPath>
      </defs>
    </svg>
    <!-- Fourth -->
    <svg
      class="mx-auto h-auto w-24 py-3 sm:mx-0 md:w-32 lg:w-40 lg:py-5"
      viewBox="0 0 100 42"
      fill="none"
    >
      <path
        fill="#6B7280"
        d="M77.466.414v6.157H36.751v8.093h1.356V7.885h40.729V.415h-1.37ZM58.693 19.465v5.686H55.4v3.195h-3.085v3.556H14.367v1.314h39.248v-3.57h3.1v-3.181h3.292v-7h-1.314Z"
      ></path>
      <path
        fill="#6B7280"
        d="M14.491 10.002h9.366l1.26.083s7.567.442 9.255 7.387c1.687 6.945-3.473 12.244-11.013 12.327-7.54.083-8.965 0-8.965 0v-1.162l.997-.083c.221-.042.428-.07.65-.097.207-.041.415-.083.609-.194.235-.124.4-.36.484-.608.083-.236.083-.47.083-.72 0-.083.014-.152.014-.235V13.184a5.03 5.03 0 0 0-.028-.457c-.014-.138-.028-.277-.055-.415a.9.9 0 0 0-.153-.304 1.063 1.063 0 0 0-.304-.305c-.124-.083-.249-.124-.387-.18a5.89 5.89 0 0 0-.969-.262 15.285 15.285 0 0 0-.844-.139v-1.12Zm6.074 1.425V26.09s-.139 1.605.968 2.048c1.107.442 3.085.401 4.233.11 1.149-.29 5.34-1.577 5.05-8.812-.29-7.222-6.17-8.093-7.512-8.093-1.342 0-2.74.083-2.74.083ZM40.459 11.178v-1.176h9.712s6.848-.139 6.516 5.395c-.332 5.534-7.07 5.825-7.706 5.797-.637-.028-2.31 0-2.31 0v4.634c0 .36 0 .72-.014 1.08 0 .276-.014.58.097.843.11.263.373.43.622.526.277.11.567.18.872.221.152.028.318.042.484.056.608.055.968 0 .968 0v1.231h-9.13v-1.162l1.369-.11c.124-.015.25-.042.36-.07.207-.055.442-.124.608-.249.167-.124.25-.318.305-.512.055-.193.11-.429.11-.65V12.921s.111-.609-.276-1.08c-.388-.497-2.587-.663-2.587-.663Zm6.24.166v8.467h1.535s4.565.166 4.648-4.013c.07-4.178-2.822-4.786-6.184-4.454ZM62.47 9.988h9.462s5.783-.29 6.835 3.597c1.051 3.901-2.601 5.672-3.016 5.838-.402.166-1.854.692-1.854.692l4.994 6.35s1.107 1.397 2.2 1.826c1.107.429 1.909.318 1.909.318v1.176h-5.728l-3.25-4.565-3.446-4.303h-2.02v5.907s-.082 1.204.623 1.453c.692.25 2.31.318 2.31.318V29.8h-9.061v-1.176s1.868-.042 2.393-.457c.47-.36.43-1.065.43-1.065v-14.29s.027-.831-.485-1.163c-.512-.318-2.31-.484-2.31-.484l.013-1.176Zm6.1 1.356v8.231h1.854s4.538.028 4.621-4.385c0-.346-.014-.706-.083-1.038a3.554 3.554 0 0 0-.277-.844 3.231 3.231 0 0 0-.415-.65 2.313 2.313 0 0 0-.54-.498 5.42 5.42 0 0 0-.608-.36 3.257 3.257 0 0 0-.609-.235 4.942 4.942 0 0 0-.65-.152c-.194-.028-.387-.056-.58-.07-.153-.013-.291-.027-.444-.027-.207 0-.415.014-.622.014-.263.014-.526.014-.789.014h-.858Z"
      ></path>
      <path
        fill="#6B7280"
        d="M25.089 13.432s-9.684-.608-17.64 7.277C-.504 28.581.008 38.35.008 38.35h1.508s-.498-9.145 7.014-16.657c7.526-7.526 16.518-6.89 16.518-6.89l.042-1.37ZM18.088 38.473l-1.065.07c-.014-.61-.249-.914-.72-.914-.525 0-.802.47-.802 1.411 0 .54.07.913.222 1.107.138.194.346.29.608.29.416 0 .678-.276.775-.816l.982.056c-.069.525-.262.913-.58 1.19-.319.262-.72.4-1.19.4-.581 0-1.038-.193-1.398-.594-.36-.401-.54-.941-.54-1.647 0-.65.18-1.19.527-1.604.345-.415.816-.623 1.424-.623 1.038 0 1.62.553 1.758 1.674ZM22.46 41.267c-.58 0-1.038-.22-1.356-.664-.318-.442-.484-.968-.484-1.59 0-.637.166-1.163.484-1.591.319-.43.789-.637 1.384-.637.608 0 1.065.222 1.37.678.304.457.456.968.456 1.55 0 .636-.152 1.162-.47 1.59-.319.443-.775.664-1.384.664Zm.028-3.638c-.54 0-.803.47-.803 1.411 0 .94.263 1.411.803 1.411.512 0 .774-.47.774-1.41 0-.942-.262-1.412-.774-1.412ZM30.484 36.855v4.344h-.872l-1.701-2.933v.152c.014.069.014.138.014.194v2.6h-.789v-4.344h1.093l1.48 2.56c-.014-.125-.014-.222-.014-.29v-2.27h.789v-.014ZM36.516 37.809l-.871.29c-.111-.345-.36-.511-.734-.511-.4 0-.608.124-.608.387 0 .11.041.194.11.263.083.069.25.138.512.194.443.083.761.18.969.262.207.097.373.236.525.443.139.208.208.429.208.678 0 .387-.152.733-.457 1.024-.304.29-.747.429-1.342.429-.442 0-.83-.097-1.134-.305a1.419 1.419 0 0 1-.623-.899l.941-.208c.11.402.401.61.885.61.236 0 .402-.042.526-.14.11-.096.166-.193.166-.317a.343.343 0 0 0-.152-.29c-.11-.07-.304-.14-.595-.194-.553-.111-.94-.277-1.176-.47-.235-.195-.346-.485-.346-.873 0-.387.139-.705.415-.982.277-.263.664-.4 1.149-.4.83 0 1.383.331 1.632 1.009ZM42.23 36.855v.857h-1.08v3.486h-1.023v-3.486h-1.08v-.858h3.183ZM45.84 39.483V41.2h-1.023v-4.344h1.909c.346 0 .636.041.844.124.207.083.387.235.525.456.139.222.208.457.208.734 0 .526-.25.899-.747 1.12l.802 1.923h-1.12l-.664-1.715h-.734v-.014Zm0-1.854v1.107h.623c.207 0 .346-.014.443-.041a.476.476 0 0 0 .249-.194.563.563 0 0 0 .11-.332.563.563 0 0 0-.11-.332.47.47 0 0 0-.236-.18c-.082-.028-.248-.028-.47-.028h-.609ZM54.611 36.855v2.697c0 .443-.055.761-.152.983-.097.207-.29.387-.553.525-.263.139-.609.208-1.024.208-.415 0-.747-.056-.996-.18a1.201 1.201 0 0 1-.553-.526c-.125-.221-.18-.553-.18-.996v-2.698h1.107v2.698c0 .235.013.401.055.512.041.11.11.194.235.263a.82.82 0 0 0 .429.097c.194 0 .346-.028.47-.097a.505.505 0 0 0 .236-.25c.041-.11.055-.276.055-.525v-2.698h.871v-.014ZM61.086 38.473l-1.065.07c-.014-.61-.25-.914-.72-.914-.525 0-.802.47-.802 1.411 0 .54.07.913.221 1.107.139.194.346.29.61.29.414 0 .677-.276.774-.816l.982.056c-.07.525-.263.913-.581 1.19-.318.262-.72.4-1.19.4-.58 0-1.037-.193-1.397-.594-.36-.401-.54-.941-.54-1.647 0-.65.18-1.19.526-1.604.346-.415.816-.623 1.425-.623 1.038 0 1.619.553 1.757 1.674ZM66.578 36.855v.857H65.5v3.486h-1.037v-3.486h-1.08v-.858h3.196ZM70.175 36.855h-1.01v4.344h1.01v-4.344ZM74.838 41.267c-.581 0-1.038-.22-1.356-.664-.318-.442-.484-.968-.484-1.59 0-.637.166-1.163.484-1.591.318-.43.788-.637 1.383-.637.609 0 1.066.222 1.37.678.304.457.456.968.456 1.55 0 .636-.152 1.162-.47 1.59-.304.443-.775.664-1.383.664Zm.027-3.638c-.54 0-.802.47-.802 1.411 0 .94.263 1.411.802 1.411.512 0 .775-.47.775-1.41 0-.942-.263-1.412-.775-1.412ZM82.862 36.855v4.344h-.872l-1.702-2.933v.152c.014.069.014.138.014.194v2.6h-.788v-4.344h1.093l1.48 2.56c-.014-.125-.014-.222-.014-.29v-2.27h.789v-.014Z"
      ></path>
    </svg>
  </div>
</section>
